@import "/src/variables/fonts.scss";
body {
  background-color: var(--background-color);
  background-image: var(--background-image);
  .container {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-padding-top: 100px;

    .imgLander {
      width: 100%;
      height: 830px;
      object-fit: cover;
      clip-path: inset(50% at 50% 50%);
      scroll-snap-align: start;
    }

    .aboutMe {
      display: flex;
      background-color: #595434;
      padding: 20px;
      margin: 100px;
      align-items: center;
      width: 1000px;
      height: 600px;
      box-shadow: 0 0 10px 5px #443618;
      border-radius: 8px;
      scroll-snap-align: start;

      .headerNText {
        padding: 20px;

        .aboutMeHeader {
          color: #a78e56;
          font-size: 30px;
          font-weight: 500;
          text-align: left;

          font-family: var(--main-font);
        }
        .aboutMeText {
          color: #a78e56;
          font-size: 28px;
          font-weight: 500;
          text-align: left;
          font-family: var(--main-font);
          width: 800px;
          max-width: 700px;
          margin-right: 50px;
        }
      }

      .gaichaImg {
        height: 600px;
        width: 500px;
        object-fit: cover;
        object-position: center;
        box-shadow: 0 0 10px 5px #443618;
        border-radius: 8px;
      }
    }

    .gallerySection {
      .galleryTitle {
        scroll-snap-align: start;
        display: flex;
        align-items: center;
        justify-content: center;
        font: var(--main-font);
        color: var(--mask-green);
        font-size: 100px;
        margin-top: 150px;
      }
      .firstHank { 
        height: 5000px;
      }
    }
  }
}
