@import "/src/variables/fonts.scss";

.navbar {
  display: flex;
  padding: 8px;
  padding-top: 0px;
  align-items: center;
  position: fixed;
  gap: 20px;
  top: 0;
  .logo {
    height: 80px;
    width: 80px;
  }
  .compName {
    font-size: 2rem;
    font-weight: 800;
    color: white;
    font-family: var(--main-font);
  }
  .madeIn {
    font-size: 0.8rem;
    font-weight: 800;
    color: white;
    font-family: var(--main-font);
  }
}
